html{
  box-sizing: border-box;
}

body{
  margin:0;
  min-height: 100vh;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23ff0c0c' fill-opacity='0.58'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: white;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container{
  width: auto;
  max-width: 900px;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255,0.4);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2); /* horizontal vertical blur radius */ 
}

.quote-text{
  font-size: 2.75rem;
}

.fa-quote-left{
  font-size: 4rem;
}

.quote-author{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
}


@media (max-width:800px){
    .quote-container{
      margin: auto 10px;
    }
    .quote-text{
      font-size: 2.3rem;
      
    }

}